.env
*.log
*.zip
firebase-key.json
*.lottie
*.mp4
/frontend/node_modules/
/frontend/.env
/frontend/dist/
/frontend/build/
/frontend/lib/core/utils/constants.dart
/backend/__pycache__/
/backend/.env
/backend/build/
/backend/dist/
/backend/venv/
/backend/database.db
/backend/database.sqlite
/backend/firebase-key.json
